[Unit]
Description=Drone Server
After=network.target

[Service]
User=drone
WorkingDirectory=/home/drone
ExecStart=/usr/bin/sudo /usr/bin/python /home/drone/drone/image_capture/python/camera_server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target